# Dependencies
node_modules/

# Environment variables (NEVER commit this)
.env
.env.local
.env.production

# Build output
build/

# Logs
npm-debug.log*
yarn-debug.log*

# Editor
.vscode/
.DS_Store
.vercel
.env*
